{% load static %}

{% block content %}
	<!--====== FOOTER PART START ======-->
	<footer class="footer-area">
		<div class="widget-wrapper">
			<div class="map-img">
				<img src="static/images/footer/map-img.svg" alt="">
			</div>
			<div class="container">
				<div class="row">

					<div class="col-xl-4 col-md-7">
						<div class="footer-widget about">
							<a href="index.html" class="d-inline-block mb-30">
								<img src="static/images/logo/logo.svg" alt="">
							</a>
							<p class="text-white mb-25">Buy And Sell Everything From Used Cars To Mobile Phones And Computers, Search For Property, Jobs And More</p>
							<ul class="social">
								<li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
								<li><a href="javascript:void(0)"><i class="lni lni-twitter-filled"></i></a></li>
								<li><a href="javascript:void(0)"><i class="lni lni-instagram-filled"></i></a></li>
								<li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="col-xl-2 col-md-4 order-md-2 order-xl-1 col-sm-6">
						<div class="footer-widget">
							<h4>Quick Link</h4>
							<ul class="link">
								<li><a href="javascript:void(0)">Home</a></li>
								<li><a href="javascript:void(0)">About</a></li>
								<li><a href="javascript:void(0)">Category</a></li>
								<li><a href="javascript:void(0)">Product details</a></li>
								<li><a href="javascript:void(0)">Contact</a></li>
							</ul>
						</div>
					</div>

					<div class="col-xl-2 col-md-4 order-md-3 order-xl-2 col-sm-6">
						<div class="footer-widget">
							<h4>Support</h4>
							<ul class="link">
								<li><a href="javascript:void(0)">Live Chat</a></li>
								<li><a href="javascript:void(0)">Privacy Policy</a></li>
								<li><a href="javascript:void(0)">Purchase</a></li>
								<li><a href="javascript:void(0)">Protection</a></li>
								<li><a href="javascript:void(0)">Support</a></li>
							</ul>
						</div>
					</div>

					<div class="col-xl-2 col-md-4 order-md-4 order-xl-3 col-sm-6">
						<div class="footer-widget">
							<h4>Information</h4>
							<ul class="link">
								<li><a href="javascript:void(0)">Company</a></li>
								<li><a href="javascript:void(0)">Contact Info</a></li>
								<li><a href="javascript:void(0)">Blog & Articles</a></li>
								<li><a href="javascript:void(0)">Terms of Service</a></li>
								<li><a href="javascript:void(0)">Privacy Policy</a></li>
							</ul>
						</div>
					</div>

					<div class="col-xl-2 col-md-5 order-md-1 order-xl-4 col-sm-6">
						<div class="footer-widget">
							<h4>Contact Us</h4>
							<ul>
								<li>
									<span>Phone:</span>
									0345983672937
								</li>
								<li>
									<span>Email:</span>
									yourmail@gmail.com
								</li>
								<li>
									<span>Location:</span>
									United State of America
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="copy-right">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="text-center">
							<p>Designed & Developed By <a href="https://graygrids.com/" rel="nofollow" target="_blank">GrayGrids</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--====== FOOTER PART ENDS ======-->

	<!--====== BACK TOP TOP PART START ======-->
	<a href="#" class="back-to-top btn-hover"><i class="lni lni-chevron-up"></i></a>
	<!--====== BACK TOP TOP PART ENDS ======-->
{% endblock %}